<style>
      .line {
        display: flex;
        width: auto;
      }
      .separator {
        margin: 0px 10px 0px 10px;
      }
    </style>
<div class="jumbotron text-center">
    <h2>This is .csv reader.</h2>
</div>
<div class="line">
    <input class="form-control" type="file" id="csv_input" accept=".csv" />
    <p class="form-label separator">Separator</p>
    <input type="text" class="form-control" id="input_sep" value=";" />
</div>
<div class="row">
    <table class="table">
        <thead></thead>
        <tbody id="table_body"></tbody>
    </table>
</div>