<section class="jumbotron text-center vertical-center">
    <div class="container">
        <h1>404</h1>
        <p class="lead text-muted">{{__ 'You have nothing to look for here, traveler'}}</p>
        <p>
            <a href="/" class="btn btn-primary my-2">{{__ 'To the main page'}}</a>
        </p>
    </div>
</section> 