<section class="jumbotron">
    <div class="container">
        <ul class="nav nav-tabs justify-content-center" style="margin-bottom: 16px;">
            <li class="nav-item">
                <a class="nav-link" href="https://maserplay.ru/" style="font-size: calc(1.325rem + .9vw);">{{__ 'myproj'}}</a>
            </li>
            <li class="nav-item">
                <p class="nav-link active" style="background: 0 0; font-size: calc(1.325rem + .9vw);">{{__ 'js_things'}}</p>
            </li>
        </ul>
    </div>
</section>
{{!-- <div class="alert alert-warning" role="alert">
  This site will be migrated to maserplay.ru.
</div> --}}
<div class="row">
    {{#each eachcontent}}
    <div class="col-md-4 bg-body">
        <a class="btn btn-sm btn-outline-primary w-100 h-100"
            href="/content/{{this.id}}">
            <div class="mb-4">
                <h2>{{this.name}}</h2>
            </div>
        </a>
    </div>
    {{/each}}
</div>