<div class="row">
    {{#each eachcontent}}
    <div class="col-md-4">
        <a class="btn btn-sm btn-outline-primary w-100 h-100"
            href="/content/{{this.id}}">
            <div class="mb-4">
                <h2>{{this.name}}</h2>
            </div>
        </a>
    </div>
    {{/each}}
</div>