<style>
    canvas {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    /* To remove the scrollbars */
</style>
<div id="fullscreen_div">
    <button type="button" id="exit_fullscreen" style="position:absolute; display: none;"
        class="btn btn-outline-secondary bi bi-fullscreen-exit"></button>
    <canvas class="bg-secondary-subtle h-100" id="canvas" style="aspect-ratio: 800/500;" width="500" height="800">
        <%= __('Your browser dont support canvas') %>
    </canvas>
</div>
<button type="button" id="fullscreen" class="btn btn-outline-secondary bi bi-arrows-fullscreen"></button>