<style>
    .editor-container {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .canvas-container {
        flex: 3;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        overflow: auto;
    }
    canvas {
        display: block;
        max-width: 100%;
        max-height: 100%;
        touch-action: none;
    }

    .sidebar {
        flex: 1;
        padding: 20px;
        overflow-y: auto;
    }

    .elements-list {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .element-item {
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
    }

    #fileInput {
        position: absolute;
        width: 300px;
    }

    .down_buttons{
        position: absolute;
        bottom: 10px;
        left: 10px;

        display: flex;
        gap: 8px;
        z-index: 10;
    }
    .down_buttons > * {
        margin: 10px 0px;
    }
    main {
        height: 100vh;
    }
    .evals > * {
       margin: 1em 0em; 
    }
    @media (max-width: 768px) {
        .editor-container {
            flex-direction: column;
        }

        .canvas-container {
            flex: 1;
            min-height: 60vh;
        }

        .sidebar {
            flex: none;
            height: 40%;
            width: 100%;
            overflow-y: auto;
        }
    }
</style>

<main role="main" id="fullscreen_div" class="bg-body">
    <div class="editor-container">
        <!-- <div class="d-flex justify-content-center py-3" style="position: fixed; width: 100%;">
            <ul class="nav nav-pills border rounded-4 bg-body" style="padding: 5px;">
              <button type="button" id="lang-change" data-bs-toggle="dropdown" class="btn text-primary" data-bs-toggle="dropdown" aria-expanded="false"><%= __("Content/CalcAnimationEditor/Help") %></button>
                <ul class="dropdown-menu" style="left: auto;right: 0px;position: absolute;">
                    <li><a class="dropdown-item"><%= format(__("Content/CalcAnimationEditor/Author"), "NeuroZoneEditor", "Maserplay") %></a></li>
                    <li><a class="dropdown-item" href="https://js.maserplay.ru/content/CalcAnimationEditor"><%= format(__("Content/CalcAnimationEditor/From_site"), "https://js.maserplay.ru/content/CalcAnimationEditor") %></a></li>
                </ul>
            </ul>
        </div> -->
        <div class="canvas-container" id="canvas-container">
            <canvas id="canvas"></canvas>
            <div class="down_buttons">
                <button type="button" id="fullscreen" class="btn btn-outline-secondary bg-body bi bi-arrows-fullscreen"></button>
                <button type="button" id="exit_fullscreen" class="btn btn-outline-secondary bg-body bi bi-fullscreen-exit" style="display: none;"></button>
                <button type="button" id="to_home" class="btn btn-outline-secondary bg-body bi bi-house"></button>
            </div>
        </div>

        <div class="sidebar bg-body-tertiary border" style="z-index: 1;">
            <button type="button" class="btn btn-primary w-100" id="add"><%= __("Content/CalcAnimationEditor/Add") %></button>
            <div class="d-flex align-items-center justify-content-center gap-2 m-2">
                <button type="button" id="reset_t" class="btn btn-outline-secondary bi bi-house"></button>
                <p id="time" class="mb-0">t=0.000</p>
            </div>
            <div class="elements-list gap-3">
                <!-- The list of items will be generated here -->
            </div>
        </div>
    </div>
</main>